# ----------------------------
# Flutter / Dart
# ----------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# Lock file (ignore for apps)
pubspec.lock

# ----------------------------
# Firebase
# ----------------------------
firebase_options.dart

# ----------------------------
# Android
# ----------------------------
android/.gradle/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# ----------------------------
# iOS
# ----------------------------
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/.last_build_id

# ----------------------------
# IDE / Editor
# ----------------------------
.idea/
.vscode/
*.iml
*.ipr
*.iws

# ----------------------------
# System Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs & Temp
# ----------------------------
*.log
*.tmp
*.swp
*.lock

# ----------------------------
# Misc
# ----------------------------
*.class
*.pyc
.history
.svn/
.build/